
.center-login {
  width: 40%;
  margin-left: 30%;
  vertical-align: center;
}
.center-signup {
  width: 40%;

}
.navbar {
  background-color: turquoise;
  height: 20px;
  margin-bottom: 70px;
  padding-top: 10px;
}
.signupLinks {
  color: white;
  text-decoration-line: none;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}
.login-link {
  margin-right: 50px;
}
/* .form-boundary{
  border: 1px solid black;
} */
.home {
  color: white;
  text-decoration-line: none;
  font-size: 20px;
  margin-left: 10%;

}
.qnLink {
  font-size: 20px;
  float: right;
  margin-right: 100px;
}
.centered {
 margin-left: 10%;
 margin-right: 10%;
}
.qnHeader {
  font-size: 20px;
}
.question-layout {
  border: 1px solid lightgrey;
  line-height: 30px;
  margin: 30px;
  width: 60%;
}
.qn-title {
  text-align: center;

}
.qn-author {
  text-align: right;
  margin-left: -20px;
}
.center-singleqn {
  margin: auto;
  width: 60%;
}
